@font-face {
    font-family: "COAfont";
    src: url('./assets/fonts/font.woff2') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #111;
    color: #fff;
    font-family: 'COAfont', serif;
    padding: 0 20px; /* Add padding to prevent content from touching the edges */
}

.container {
    text-align: center;
    position: relative;
    transform: translateY(-15%);
    max-width: 1000px; /* Set max width for larger screens */
    width: 100%;
    padding: 0 20px; /* Add padding inside the container */
}

.logo {
    width: 250px;
    margin-bottom: 20px;
}

h1 {
    font-size: 4rem;
    margin-bottom: 20px;
    color: #d4af37;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

p {
    font-size: 2rem;
    margin-bottom: 30px;
    color: #bbb;
}

.button {
    padding: 15px 40px;
    font-size: 1.75rem;
    background-color: #444;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

.button:hover {
    background-color: #666;
}

/* Mobile Responsive Design */
@media only screen and (max-width: 768px) {
    body {
        padding: 0 10px; /* Less padding for mobile */
    }

    h1 {
        font-size: 2.5rem; /* Adjust the font size for mobile */
    }

    p {
        font-size: 1.25rem; /* Adjust the paragraph font size */
    }

    .logo {
        width: 200px; /* Reduce logo size on mobile */
    }

    .button {
        padding: 10px 30px; /* Slightly reduce button size for mobile */
        font-size: 1.2rem;
    }
}
